body {
    background: white;
    overflow-y: hidden;
}

#MOLI2 img {
    width: 600px;
    height: auto;
    position: fixed;
    z-index: -1;
}

#MOLI img {
    width: 600px;
    height: auto;
    position: fixed;

}

#scary img {
    top: 300px;
    left: 380px;
    width: 500px;
    height: auto;
    position: relative;
}

#MOLI:hover a {
    opacity: 0;
}