
/* reset styles */

* {
    margin: 0px;
    padding: 0px;
  }
  
  /* begin styles */
  
  body {
    background-color: rgb(101, 255, 247);
    
    color:black;
    font-size: 15px;
    font-family: Futura lighter, "Trebuchet MS", Arial, sans-serif
  }