body {
    background: white;
    overflow-y: hidden;
}

/*
.grid-container {
    width: 5500px;
    height: 30px;
    background: white;
    border: 4px solid black;
    border-right-color: transparent;
    border-left-color: transparent;
    position: fixed;
    top: 100px;
    left: 30px;

}*/


.scroll {
    background-color: transparent;
    width: 5800px;
    height: 700px;
    position: relative;
    top: 135px;
    left: 350px;
    overflow-x: auto;


}

#MOLI2 img {
    width: 600px;
    height: auto;
    position: fixed;
    z-index: -1;
}

#MOLI img {
    width: 600px;
    height: auto;
    position: fixed;

}



#MOLI:hover a {
    opacity: 0;
}

#ABOUT:hover a {
    color: red;
}

#ABOUT a {
    position: fixed;
    font-family: avenir;
    font: bolder;
    top: 87px;
    left: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#AIM img {
    width: 300px;
    height: auto;
    position: relative;
    top: 200px;
    left: 145px;
}

#AIM .name {
    position: absolute;
    top: 475px;
    left: 250px;
    font-family: gotham;
}

#AIM .description {
    position: absolute;
    top: 550px;
    left: 100px;
    font-family: avenir;
    text-align: center;
}

#AIM img:hover a {
    width: 700px;
    height: auto;
}

#Limewire img {
    width: 300px;
    height: auto;
    position: absolute;
    top: 220px;
    left: 900px;
}

#Limewire .name {
    position: absolute;
    top: 475px;
    left: 983px;
    font-family: gotham;

}

#Limewire .description {
    position: absolute;
    top: 550px;
    left: 770px;
    font-family: avenir;
    text-align: center;
}

#Myspace img {
    width: 250px;
    height: auto;
    position: absolute;
    top: 240px;
    left: 1700px;
}

#Myspace .name {
    position: absolute;
    top: 475px;
    left: 1760px;
    font-family: gotham;
}

#Myspace .description {
    position: absolute;
    top: 550px;
    left: 1550px;
    font-family: avenir;
    text-align: center;
}

#IE img {
    width: 250px;
    height: auto;
    position: absolute;
    top: 245px;
    left: 2475px;

}

#IE .name {
    position: absolute;
    top: 475px;
    left: 2500px;
    font-family: gotham;
}

#IE .description {
    position: absolute;
    top: 550px;
    left: 2460px;
    font-family: avenir;
    text-align: center;
}

#AG img {
    width: 400px;
    height: auto;
    position: absolute;
    top: 290px;
    left: 3280px;
}

#AG .name {
    position: absolute;
    top: 475px;
    left: 3350px;
    font-family: gotham;
}

#AG .description {
    position: absolute;
    top: 550px;
    left: 3340px;
    font-family: avenir;
    text-align: center;
}

#YT img {
    width: 400px;
    height: auto;
    position: absolute;
    top: 260px;
    left: 4100px;
}

#YT .name {
    position: absolute;
    top: 475px;
    left: 4240px;
    font-family: gotham;
}

#YT .description {
    position: absolute;
    top: 550px;
    left: 4080px;
    font-family: avenir;
    text-align: center;
}

#Albino img {
    width: 250px;
    height: auto;
    position: absolute;
    top: 233px;
    left: 5000px;
}

#Albino .name {
    position: absolute;
    top: 475px;
    left: 5000px;
    font-family: gotham;
}

#Albino .description {
    position: absolute;
    top: 550px;
    left: 4980px;
    font-family: avenir;
    text-align: center;
}

.link-1 {
    Top: 300px;
}

.name {
    visibility: hidden;
    font-size: 2em;
    font-weight: bold;

}

.description {
    visibility: hidden;
    font-size: 1em;
    font-style: italic;
}

.icon:hover~.name {
    visibility: visible;

}

.icon:hover~.description {
    visibility: visible;

}

.icon:hover~img {
    width: 150%;
}