.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#Acontainer {
    margin: 20px;
    position: relative;
}

#Bcontainer {
    margin: 20px;
    position: relative;
}

#A1 {
    top: -150px;
    left: 8px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
    transform: scalex(-1);
    position: absolute;
    opacity: 0;
}

#Acontainer #A1 {
    animation: showA1 1.5s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

#Acontainer:active #A1,
#Acontainer:focus #A1,
#Acontainer:hover #A1 {
    animation-play-state: running;
}

@keyframes showA1 {
    from {
        top: -150px;
        opacity: 0;
        border-top: 100px solid transparent;
        border-bottom: 100px solid red;
        border-right: 100px solid transparent;
    }

    to {
        top: 8px;
        opacity: 1;
        border-top: 20px solid transparent;
        border-bottom: 20px solid red;
        border-right: 20px solid transparent;
    }
}

#A2 {
    top: 48px;
    left: 8px;
    width: 20px;
    height: 80px;
    background-color: red;
    position: absolute;
}

#Acontainer #A2 {
    animation: showA2 1.5s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

#Acontainer:active #A2,
#Acontainer:focus #A2,
#Acontainer:hover #A2 {
    animation-play-state: running;
}

@keyframes showA2 {
    from {
        left: -150px;
        opacity: 0;
        width: 2px;
        height: 0px;
    }

    to {
        left: 8px;
        opacity: 1;
        width: 20px;
        height: 80px;
    }
}

#A3 {
    position: absolute;
    top: 48px;
    left: 28px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
    transform: scalex(-1);
}

#Acontainer #A3 {
    animation: showA3 1.5s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

#Acontainer:active #A3,
#Acontainer:focus #A3,
#Acontainer:hover #A3 {
    animation-play-state: running;
}

@keyframes showA3 {
    from {
        top: 150px;
        opacity: 0;
        border-top: 80px solid transparent;
        border-bottom: 80px solid red;
        border-right: 80px solid transparent;
    }

    to {
        top: 48px;
        opacity: 1;
        border-top: 20px solid transparent;
        border-bottom: 20px solid red;
        border-right: 20px solid transparent;
    }
}

#A4 {
    top: 8px;
    left: 28px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
    position: absolute;

}

#Acontainer #A4 {
    animation: showA4 1.5s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

#Acontainer:active #A4,
#Acontainer:focus #A4,
#Acontainer:hover #A4 {
    animation-play-state: running;
}

@keyframes showA4 {
    from {
        left: 158px;
        opacity: 0;
        border-top: 4px solid transparent;
        border-bottom: 4x solid red;
        border-right: 4px solid transparent;

    }

    to {
        left: 28px;
        opacity: 1;
        border-top: 20px solid transparent;
        border-bottom: 20px solid red;
        border-right: 20px solid transparent;
    }
}

#A5 {
    top: 68px;
    left: 48px;
    width: 20px;
    height: 60px;
    background-color: red;
    position: absolute;
}

#A6 {
    top: 28px;
    left: 48px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
    position: absolute;

}

#A7 {
    position: absolute;
    top: 128px;
    left: 48px;
    width: 0;
    height: 0;
    border-top: 20px solid red;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    transform: scalex(-1);
}

#B1 {
    top: 68px;
    left: 8px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
    transform: scalex(-1);
    position: absolute;

}

#Bcontainer #B1 {
    animation: showB1 1s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

#Bcontainer:active #B1,
#Bcontainer:focus #B1,
#Bcontainer:hover #B1 {
    animation-play-state: running;
}

@keyframes showB1 {
    from {
        top: -150px;
        left: -150px;
        opacity: 0;

        border-top: 120px solid transparent;
        border-bottom: 120px solid red;
        border-right: 120px solid transparent;
    }

    to {
        top: 68px;
        left: 8px;
        opacity: 1;

        border-top: 20px solid transparent;
        border-bottom: 20px solid red;
        border-right: 20px solid transparent;
    }
}

#B2 {
    top: 28px;
    left: 28px;
    width: 20px;
    height: 80px;
    background-color: red;
    position: absolute;

}

#Bcontainer #B2 {
    animation: showB2 1s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

#Bcontainer:active #B2,
#Bcontainer:focus #B2,
#Bcontainer:hover #B2 {
    animation-play-state: running;
}

@keyframes showB2 {
    from {
        top: 200px;
        opacity: 0;
        width: 100px;
        height: auto;
    }

    to {
        top: 28px;
        opacity: 1;
        width: 20px;
        height: autopx;
    }
}

#B3 {
    top: -12px;
    left: 28px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
    transform: scalex(-1);
    position: absolute;

}

#Bcontainer #B3 {
    animation: showB3 1s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

#Bcontainer:active #B3,
#Bcontainer:focus #B3,
#Bcontainer:hover #B3 {
    animation-play-state: running;
}

@keyframes showB3 {
    from {
        top: -150px;
        opacity: 0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid red;
        border-right: 2px solid transparent;

    }

    to {
        top: -12px;
        opacity: 1;
        border-top: 20px solid transparent;
        border-bottom: 20px solid red;
        border-right: 20px solid transparent;
    }
}

#B4 {
    top: -12px;
    left: 48px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
    position: absolute;
}

#B5 {
    top: 48px;
    left: 48px;
    width: 0;
    height: 0;
    border-top: 20px solid red;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    transform: scalex(-1)
}

#B6 {
    top: 88px;
    left: 48px;
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}

#B7 {
    top: 8px;
    left: 68px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
    position: absolute;
}

#B8 {
    top: 48px;
    left: 68px;
    width: 0;
    height: 0;
    border-top: 20px solid red;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
}

#B9 {
    top: 48px;
    left: 68px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid red;
    border-right: 20px solid transparent;
    position: absolute;

}

#Bcontainer #B9 {
    animation: showB9 1s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

#Bcontainer:active #B9,
#Bcontainer:focus #B9,
#Bcontainer:hover #B9 {
    animation-play-state: running;
}

@keyframes showB9 {
    from {
        left: 150px;
        opacity: 0;
        border-top: 200px solid transparent;
        border-bottom: 200px solid red;
        border-right: 200px solid transparent;

    }

    to {
        left: 68px;
        opacity: 1;
        border-top: 20px solid transparent;
        border-bottom: 20px solid red;
        border-right: 20px solid transparent;
    }
}



#B10 {
    top: 88px;
    left: 68px;
    width: 0;
    height: 0;
    border-top: 20px solid red;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
}