body {
    background-color: white;
    background-image: url("../../Images/Water.jpg");
    background-size: cover;


}


#sock {
    width: 230px;
    height: 430px;
    margin-left: 800px;
    margin-top: 200px;
    background-color: aqua;
    border-radius: 75px;
    opacity: 1;
    animation-name: d;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: rotate(20deg)
}

#sock2 {
    width: 230px;
    height: 430px;
    margin-left: 200px;
    margin-top: -700px;
    background-color: aqua;
    border-radius: 75px;
    opacity: 1;
    animation-name: f;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: rotate(-20deg)
}

@keyframes d {


    0% {
        width: 200px;
        height: 400px;

        background-color: aquamarine;
        margin-top: 200px;


    }


    50% {
        width: 230px;
        height: 430px;

        margin-top: 200px;
        background-color: rgb(49, 176, 235);


    }

    75% {
        width: 220px;
        height: 415px;

        background-color: rgb(255, 127, 249);
        margin-top: 200px;

    }

    100% {
        width: 200px;
        height: 400px;

        background-color: aquamarine;
        margin-top: 200px;



    }



}

@keyframes f {


    0% {
        width: 200px;
        height: 400px;

        background-color: aquamarine;
        margin-top: 200px;


    }

    25% {
        width: 220px;
        height: 415px;

        background-color: rgb(255, 127, 249);
        margin-top: 200px;

    }

    50% {
        width: 230px;
        height: 430px;

        margin-top: 200px;
        background-color: rgb(59, 168, 204);


    }

    75% {
        width: 220px;
        height: 415px;

        background-color: rgb(255, 127, 249);
        margin-top: 200px;

    }

    100% {
        width: 200px;
        height: 400px;

        background-color: aquamarine;
        margin-top: 200px;



    }



}

.Water {
    background-image: .Water;
    top: 0px;
    left: 0px;



}